
/* General markup styles
---------------------------------------- */
* {
	/* Reset browsers default margin, padding and font sizes */
	margin: 0;
	padding: 0;
	font-size: 100%;
	white-space: nowrap;
}

html {
	color: #536482;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;  
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
	text-decoration: none;
	background: #bfb9b8 url("../images/backgroundeditor.png") repeat-x top;
}

/* custom header font */
@font-face {
	font-family: Reenie Beanie;
	src: url('../../include/ReenieBeanie.ttf');
}

table.maintable {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:normal; 
	font-style:normal;
	font-size: 1.10em;
	border: 0px solid #dfe2eb; 
	background-color: #ececec;
	padding: 0px;
	border-spacing:0px;
	width: 650px;
	background: #f3f3f3 url("../images/background-a.gif") repeat-x bottom;
	
	
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	
	
}




.tablehead { 
	font-family: Verdana, Arial, Helvetica, sans-serif;  
	font-size: 1.00em;
	font-weight:normal; 
	font-style:normal;
	color: #005579;	
	height: 15px;
}

#sortname {
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	background-color: #efefef;
	border: 1px solid #f5f5f5;
	width: 300px;
}
#sortsize {
	background-color: #efefef;
	border: 1px solid #f5f5f5;
	width: 80px;
}
#sortdate {
	background-color: #efefef;
	border: 1px solid #f5f5f5;
	width: 130px;
}
#operation {
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	background-color: #efefef;
	border: 1px solid #f5f5f5;
	width: 90px;
}


#sortname:hover,#sortsize:hover,#sortdate:hover { 
	background-color: #fff;
	
}

table.transparenttable {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:normal; 
	font-style:normal;
	border: 0px dotted black; 
	background-color: transparent;
	padding: 0px 0px 0px 0px ;
	font-size: 10px;
}

td { 
	font-family: Verdana, Arial, Helvetica, sans-serif;  
	font-weight:normal; 
	font-style:normal;
	border: 0px;
	padding: 0px;
	padding-left: 4px;
	margin: 0px;
	color: #005579;
}
tr.maintable{
	height:19px;
}


.shadow{
	-moz-box-shadow: 0px 0px 10px rgba(20,20,20,0.5);
	box-shadow: 0px 0px 10px rgba(20,20,20,0.5);
	-webkit-box-shadow:0px 0px 10px rgba(20,20,20,0.5);
}

#imgPreview {
	
	padding: 4px;
	z-index: 999;
	border: 1px solid #000;
	width:184px;
	box-shadow: 0px 0px 10px rgba(20,20,20,0.5);
	background:rgba(100,100,100,0.5)
	
}
#imgPreview img{
	
	border: 1px solid #fff;
	width:180px;

}



#gallerycontent {
	margin: 50px 10px 10px 10px;
	padding: 10px 5px 10px 5px;
	
}


.galleryimagediv{
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	overflow: hidden;
	width: 150px;
	
	text-align: center;
	border: 1px solid #000;
	border-radius: 4px;
	padding: 4px;
	background-color: rgba(255,255,255,0.6);
}

.galleryimage{
	width: 150px;
	
	
}

.galleryimagetitle{
	color: #fff;
	position: relative;
	z-index: 100;
	text-align: right;
	width: 145px;
	
	float: right;
}




#version {
	color: #767676;
	font-family: 'Reenie Beanie', arial, serif;
	font-weight: normal;
	font-size: 0.8em;
	margin: 0 12px 0 0;
	
}



.warn {
	color: #BC2A4D;
	padding-left: 12px;
}

.ok{
	color: #5c9a5c;
	padding-left: 12px;
}


#menuwrapper {
	min-width: 140px;
	width: 150px;
	height: 60%;
	border: 0px solid black;
	border-right: 1px solid #CCCFD3;
	float: left;
	margin-top: 33px;
}



#menu {
	font-size: 1.00em;
	overflow:hidden;

}

#menu .folder{
padding: 2px 0px 0px 10px;          /*oben rechts unten links*/
font-size: 1.1em;
white-space:nowrap;
}

#menu .homefolder{
padding: 0px 0px 2px 0px;          /*oben rechts unten links*/
font-size: 1.1em;
}


#loginmessage{
	width: 90%;
	font-size: 1.2em; 
	color:#bc2a4d;
	text-align:center;
}


#info{
    border: 1px solid black;
    color: #000;
    padding: 4px;
   
}

 A:link { color:#417092; text-decoration:none;}
 A:visited { color:#417092; text-decoration:none;}
 A:active { color:#F4B82B; text-decoration:none;}
 A:hover { color:#F4B82B; text-decoration:none;}








/* Main blocks
---------------------------------------- */



#hiddentoolsdiv{
	position:absolute;
	
	min-width: 400px;
	background: #e8e9ea url("../images/background-a.gif") repeat-x bottom;
	margin: 4px;
	padding: 3px 3px 3px 3px;
	border: 1px #999999 solid;
	
	z-index:1000;
	-moz-box-shadow: 2px 2px 12px #999;
	box-shadow: 2px 2px 12px #999;
	-webkit-box-shadow: 2px 2px 12px #999;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	opacity:0.9;
	filter:alpha(opacity=90);
	
}

#titleb{
	background-color: #ececec;
	height: 12px;
	cursor: move;
}


#hiddentoolsdiv .toolscontent {
	min-height: 100px;
	min-width: 390px;
}


.close {
	cursor: pointer;
	border:0;
	float:right;
	
}




#page-header {
	position: absolute;
	text-align: right;
	top: 12px;
	right: 20px;
	z-index:0;
}
#page-header h1 {
	color: #767676;
	font-family: 'Reenie Beanie', arial, serif;
	font-size: 22px;
	font-size-adjust:0.58;
	
}





#content {
	margin: 0px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	min-width: 830px;
	border: 0px solid #999;
	position: absolute;
	top: 52px;
	left:2px;
}



#uploadcontent{
	float: left;
	width: 670px;
	margin: 0 0 0 20px;
	min-height: 350px;
	
}


#ajaxcontent{
	float: left;
	width: 660px;
	margin: 0 0 0 15px;
	padding-bottom: 20px;
	min-height: 350px;
	
}


#ajaxcontent .folderlist{

	padding: 2px 0px 0px 0px;   
	width:650px; 
	z-index:1; 
	overflow:auto;
}


#ajaxcontent .folderlistheader{
	padding: 0px 0px 0px 0px;   
	width:660px; 
	z-index:10; 
	overflow:auto;
	color:#767676;
		
}

#ajaxcontent .folderlistfile{
	width:300px;     /* wird in filebrowser_maintable.php im table head per html festgelegt */
	overflow:hidden;
	border:1px solid TRANSPARENT;

}

#ajaxcontent .folderlistfolder{
	width:300px;     /* wird in filebrowser_maintable.php im table head per html festgelegt */
	overflow:hidden;
	border:1px solid TRANSPARENT;
}

#ajaxcontent .path{
	padding: 14px 0px 0px 0px;   
	z-index:10; 
	
	color:#767676;
	float:left;
}

#ajaxcontent .operations{
	padding: 10px 10px 0px 0px;   
	z-index:10; 
	color:#767676;
	float:right;
	
	overflow:hidden;
}










 

input {
	background: #f5f5f5;
	border: 1px solid #b2b2b2;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;  
	margin: 0px;
	padding: 0px;
}

input.login {

	border: 1px solid #b2b2b2;
	color: #ccc;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;  
	font-style: normal;  
	line-height: normal;  
	margin: 1px;
	padding: 0px;
}

.logindiv {
	color: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;  
	font-style: normal;  
	line-height: normal;  
	text-align: right;
	margin-right: 10px;
}

input.button {
	border: 1px solid #b2b2b2;
	color: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;  
	font-style: normal;  
	line-height: normal;  
	margin: 1px;
	padding: 2px;
	cursor: pointer;
}

input.filebutton {
	background: #e7eeee;
	border: 1px solid #b2b2b2;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;  
	font-style: normal;  
	line-height: normal;  
	margin: 0px;
	padding: 0px;
}







/* -----------------Tabbed menu-----------------------*/
#tabs {
	width: 800px;
	position: absolute;
	top:24px;
	left:14px;
	z-index:1;
}
#tabs ul {
	margin:0;
	padding: 0;
	list-style: none;
}
#tabs li {
	display: inline;
	margin: 0;
	padding: 0;
	font-size: 0.85em;
	font-weight: bold;
}
#tabs a {
	float: left;
	background:url("../images/bg_tabs1.gif") no-repeat 0% -34px;
	margin: 0 1px 0 0;
	padding: 0 0 0 7px;
	text-decoration: none;
	position: relative;
	margin-bottom: -1px;
	overflow: hidden;
	height:22px;
	
}
#tabs a span {
	float: left;
	display: block;
	background: url("../images/bg_tabs2.gif") no-repeat 100% -34px;
	padding: 7px 16px 4px 4px;
	color: #767676;
	white-space: nowrap;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;  
	text-transform: uppercase;
	font-weight: bold;
	
}
#tabs #blanktab a {
	background: none;
	width: 20px;
}
#tabs #blanktab a span {
	background: none;
}
#tabs .tabimage {
	border: 0px;   
	height: 16px;
	float: left;
	padding-top:4px;
	padding-right: 2px;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a span { float:none;}
/* End hack */



#tabs #activetab a {
	background-position: 0 0;
	border-bottom: 1px solid #DCDEE2;
}
#tabs #activetab a span {
	background-position: 100% 0;
	padding-bottom: 4px;
	color: #005579;
}
#tabs a:hover {
	background-position: 0 -69px;
}
#tabs a:hover span {
	color: #BC2A4D;
	cursor: pointer;
	background-position: 100% -69px;
}
#tabs span:hover {
	color: #BC2A4D;
	cursor: pointer;
}
#tabs #activetab a:hover span {
	color: #005579;
}





